@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import 'colores.scss';

header{
    background-color: $color3;

    .nav{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-end;
        ul{
            padding: 0;
            margin: 0;
            width: 50%;
            display: flex;
            list-style-type: none;
            li{
                width: 17%;
                align-items: center;
                align-content: center;
                border: 1px solid #000;
                text-align: center;


                a{
                    display: block;
                    text-align: center;
                    font-family: 'Bebas Neue', cursive;
                    font-size: 25px;
                    height: 100%;
                    text-decoration: none;
                    color: #000;
                    padding-top: 4.5%;
                }
            }

            li:hover{
                background-color: $color4;

                a{
                    color: #fff;
                }
            }

            .select{
                background-color: $color4;
                color: #000;
            }
        }
    }
}
                
#carrito_ {
    align-items: center;
    padding-top: 6px;
    img{
    width: 30px;
    }
}

